@inherits Umbraco.Web.Mvc.UmbracoViewPage<PasswordRecoveryModel>

@using (Html.BeginUmbracoForm<AccountController>("PasswordRecovery", FormMethod.Post, htmlAttributes: new { @class = "card mt-4" }))
{
    @Html.AntiForgeryToken()
    
    <div class="card-body">
        @Html.ValidationSummary()
        <div class="form-group">
            <label for="email-for-pass">Enter your email address</label>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email", placeholder = "E-mail", id = "email-for-pass", required = "required" })
            <small class="form-text text-muted">Type in the email address you used when you registered with Shop. Then we'll email a code to this address.</small>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary" type="submit">Get New Password</button>
    </div>
}
