@model Auth0.ManagementApi.Models.User
@{
    Layout = "~/Views/Mailing/MasterSimpleMail.cshtml";
    var url = string.Concat(Html.GetApplicationUrlPath(), "en/account/reset-password/?u=", Model.UserId);
}

@section header
{
    Password Recovery
}

<p style="font-family: 'Roboto Condensed', sans-serif;">Dear @(Model.FirstName),</p>

<p style="font-family: 'Roboto Condensed', sans-serif;">
    Click on this <a href="@url">link</a> below to change your password:
    <br />
    <a href="@url">@url</a>
</p>
