@model Auth0.ManagementApi.Models.User
@{
    Layout = "~/Views/Mailing/MasterSimpleMail.cshtml";
    var url = string.Concat(Html.GetApplicationUrlPath(), "en/account/reset-password/?u=", Model.UserId);
}

@section header
{
    Wachtwoord herstel
}

<p style="font-family: 'Roboto Condensed', sans-serif;">Beste @(Model.FirstName),</p>

<p style="font-family: 'Roboto Condensed', sans-serif;">
    Klik op de <a href="@url">link</a> hieronder om je wachtwoord aan te passen:
    <br />
    <a href="@url">@url</a>
</p>
