@model Uvendia.Domain.Mvc.ViewModels.Mail.OrderMailModel

@if (Model.Order.HasOrderProductDetails())
{
    var retoured = Model.Order.ProductOrderDetails.Where(pod => pod.Retoured).ToList();
    var notRetoured = Model.Order.ProductOrderDetails.Where(pod => !pod.Retoured).ToList();

    if (retoured.Any() || Model.Order.HasOrderTicketDetails())
    {
        <table border="0" cellspacing="0" cellpadding="0">
            <tr>

                <td width="650" height="5" style="font-family: 'Roboto Condensed', sans-serif;height:38px;font-size: 12px; line-height: 18px; color: #000000; letter-spacing: 0px;">
                    Your ordered item(s):
                </td>
            </tr>
            <!-- seperator line -->
            <tr>
                <td width="650" style="font-family: 'Roboto Condensed', sans-serif;font-size:0; line-height: 0; border-top:0.5px solid #cacaca;">&nbsp;</td>
            </tr>
            <tr>
                <td height="15" style="font-family: 'Roboto Condensed', sans-serif;line-height: 0; font-size: 0;">&nbsp;</td>
            </tr>
        </table>
    }
    Html.RenderPartial("~/Umbraco/Uvendia/Views/Mail/_ProductOrderDetailRows.cshtml", notRetoured, new ViewDataDictionary { { "Culture", Model.CurrentCulture } });

    if (retoured.Any())
    {
        <table border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td width="650" height="5" style="font-family: 'Roboto Condensed', sans-serif;height:38px;font-size: 12px; line-height: 18px; color: #000000; letter-spacing: 0px;">
                    Your retoured item(s):
                </td>
            </tr>
            <!-- seperator line -->
            <tr>
                <td width="650" style="font-family: 'Roboto Condensed', sans-serif;font-size:0; line-height: 0; border-top:0.5px solid #cacaca;">&nbsp;</td>
            </tr>
            <tr>
                <td height="15" style="font-family: 'Roboto Condensed', sans-serif;line-height: 0; font-size: 0;">&nbsp;</td>
            </tr>
        </table>
        
        Html.RenderPartial("~/Umbraco/Uvendia/Views/Mail/_ProductOrderDetailRows.cshtml", retoured, new ViewDataDictionary { { "Culture", Model.CurrentCulture } });
    }
}
