@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "masterShopTop.cshtml";
}

<div class="card text-center col-12">
    <div class="card-body padding-top-2x">
        @Html.GetGridHtml(Model, "bodyText", "bootstrap3-fluid")
        
        <div class="padding-top-1x padding-bottom-1x">
            <a class="btn btn-outline-secondary" href="/@CurrentUser.LanguageCode/shop/">Go Back Shopping</a>
        </div>
    </div>
</div>