@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "MasterShopTop.cshtml";

    Html.CheckAuthenticated(CurrentUser.LanguageCode);

}
@section header {
    @RenderSection("header", false)
}

@{Html.RenderPartial("~/views/partials/Navigation/_AccountNavigation.cshtml", Model);}

<div class="col-lg-8">
    <div class="padding-top-2x mt-2 hidden-lg-up"></div>
    @RenderBody()
</div>

@section scripts {
    <script>
        $(function () {
            if ($('#totalOrders').length) {
                $.ajax({
                    cache: true,
                    url: '/umbraco/surface/service/gettotalorders',
                    dataType: 'html',
                    type: 'GET',
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $('#totalOrders').text(textStatus);
                    },
                    success: function (data, textStatus, XMLHttpRequest) {
                        var obj = JSON.parse(data);
                        $('#totalOrders').text(obj.TotalOrders);
                    },
                    complete: function (XMLHttpRequest, textStatus) {

                    }
                });
            }
        });
    </script>
    @RenderSection("scripts", required: false)
}