@inherits Umbraco.Web.Mvc.UmbracoViewPage

@{
    Layout = "MasterShopTop.cshtml";
    ViewBag.ExtraBodyCss = "justify-content-center";
}

<div class="col-lg-8 col-md-10">
    <h2>@Model.Value("pageTitle")</h2>
    @Html.GetGridHtml(Model, "bodyText", "bootstrap3-fluid")
    @{Html.RenderPartial("~/views/partials/account/_PasswordRecovery.cshtml", new PasswordRecoveryModel());}
</div>