@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "MasterShopTop.cshtml";
    ViewBag.ExtraBodyCss = "justify-content-center";
}

<div class="col-lg-8 col-md-10">
    
    @{Html.RenderPartial("~/views/partials/account/_ResetPassword.cshtml", new ResetPasswordModel());}
</div>