@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "masterShopTop.cshtml";
    var query = Request.QueryString["q"];
    IEnumerable<Product> searchResults = new List<Product>();

    if (!query.IsNullOrEmpty())
    {
        searchResults = UvendiaContext.Products.Search(new Uvendia.Domain.Entities.ProductSearch { Keyword = query, StoreId = 1 }, false);
    }
}

@foreach (var item in searchResults)
{
    item.LazyLoadProperties();

<div class="col-12">
    <a class="search-link" href="/@CurrentUser.LanguageCode/shop/product/?p=@item.Id">
        <div class="media mb-4">
            <img class="d-flex rounded align-self-start mr-4" src="@CloudinaryService.GetCloudinaryUrl(item["Image 1"].ConvertTo<string>(), 350, 250, CropType.Lpad)" width="125" alt="@item.DisplayName()">
            <div class="media-body">
                <h6 class="mt-0 mb-1">
                    @item.DisplayName()
                </h6>
                <span class="d-block text-sm text-muted">
                    @Html.Raw(item.GetShortDescription())
                </span>
            </div>
        </div>
    </a>
</div>
    
}

